@font-face {
  font-family: "Hacked";
  src: local("Hacked"), url("./assets/fonts/Hacked-KerX.ttf") format("truetype");
  font-weight: bold;
}

.font-face-hacked {
  font-family: "Hacked";
}

:root {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #0b0b0b;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --red: #20c20e;
  --light-red: #64e256;
}

body {
  margin: 0;
  padding: 0;
}

button {
  outline: none;
}

a{
  color: rgba(255, 255, 255, 0.87);
}
